@media only screen and (min-width: 769px) {
  .widget-Summary .profile-info-name,
  .widget-Actions .profile-info-name,
  .widget-Specifications .profile-info-name {
  width:25% !important;
  ;
}
   
}

input:read-only,
textarea:read-only
{
  background-color: #f4f4f4;
}


.right .profile-info-row
{
  display: block !important;
}

/* h4{
  margin: 5px 0px;
  font-size: 18px;
} */
.right .profile-info-row
{
  display: block !important;
}

.widget-Summary,.widget-Specifications, .widget-Actions {
  border: 1px solid #dcebf7;
  margin: 4px;
}

.widget-Summary .profile-user-info-striped, 
.widget-Actions .profile-user-info-striped {
  border: none !important;  
}

@media only screen and (min-width: 769px) {
  .left {
    width: 75%;
    float: left;
  }
  .right {
    width: 25%;
    background-color: #f8fafc;
    float: left;
  }
}